/* Text Styling */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", Sans-Serif;
  font-weight: 400;
}

/* For individual styling on an element class */
/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&display=swap");
.navigation {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
} */
/*  <style>
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&display=swap");
</style>
*/

li.favorite {
  border: solid 1px dodgerBlue;
}

/* Root Styling */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #eaebf9;
  text-decoration: inherit;
}
a:hover {
  color: #abaef4;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0.5em;
}
.login {
  padding: 1em;
  text-align: right;
}

.login a {
  color: #646cff !important;
}

/* Navigation Styling */
.titlebox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.navbtn {
  background-color: #333333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease; /* Smooth transition for the button movement */
}

.navbtn.open {
  transform: translateX(-250px); /* Move the button */
}

.navigation {
  height: 260px;
  width: 0;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.5s ease; /* Smooth transition for the navigation panel */
}

.navigation.open {
  width: 250px; /* Width when open */
}

/* Form styling */
form > * {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.new-piece-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;
  align-items: flex-end;
  text-align: left;
  margin-bottom: 15px;
}

form input {
  margin-bottom: 7px;
}

form input,
form label,
form button {
  width: 100%;
}

/* Component Styling */
.article {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2px;
  align-items: center;
}

.piece-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
  margin: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  height: max-content;
}

.cover {
  visibility: hidden;
  /* transition: visibility 0.3s ease, opacity 0.3s ease;  */
  position: absolute; /* To overlay the image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piece-card:hover img {
  opacity: 0.3; /* Apply opacity change only to the image */
}

.piece-card:hover .cover {
  visibility: visible;
  opacity: 1;
}

.editing-card-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  margin: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  height: max-content;
  background-color: #f9f8f9;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  line-break: loose;
}
.editing-card-view p {
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 6 3;
  -moz-hyphenate-limit-chars: 6 3;
  hyphenate-limit-chars: 6 3;
}

.single-card-view {
  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  justify-content: space-between;
  align-items: center; 
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  height: max-content;
  background-color: #f9f8f9;
}

.single-card-view img {
  max-width: 40%; 
  max-height: 75%; 
  border-radius: 1em;
  display: block;
  margin-right: 15px; 
}

.single-card-view .details {
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
  justify-content: flex-start;
  align-items: flex-start ;  
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  line-break: loose;
}
 


@media (max-width: 768px) {
  .piece-card,
  .single-card-view {
    width: 100%;
  }
}

/* Button Styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* Specific styling for admin buttons */
.admin-button{
  background-color: #9497dd;
}
/* Specific styling for admin buttons */
.tag-buttons{
  background-color: #b1b3fa;
}

button:hover {
  border-color: #432dbe;
  outline: 20em;
  transform: scale(1.05); 
}

button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #dfd7e6;
  }
}
